<script src="/apps/expatportal/clientlibs/expatportal/js/f.js"></script> 
		
			<!-- Bootstrap4 scripts -->
			<script src="/apps/expatportal/clientlibs/global/js/jquery-3.2.1.slim.min.js"></script>
			<script src="/apps/expatportal/clientlibs/global/js/popper-1.12.9.min.js"></script>
			<script src="/apps/expatportal/clientlibs/global/js/bootstrap.min.js"></script>
			<!-- /Bootstrap4 scripts -->
		
		
			<!-- toolkit scripts -->
			<script src="/apps/expatportal/clientlibs/global/js/toolkit.js"></script>
			<!-- /toolkit scripts -->