
        <div class="row">
            <div class="col-lg-12 text-center" id="text-center">
                <h2>Under construction</h2>

                <sly data-sly-use.ud="token.js" />
                   <h4> ${ud.msg} </h4>
                <div  class="no-result-message-container">

					 <p class="no-result-message">
                        Token - ${ud.token}
					</p>


                    <p class="no-result-message">
                        First Name : ${ud.fname}
                    </p>

                    <p class="no-result-message">
                        Last Name : ${ud.lname}
                    </p>
                    
                    <p class="no-result-message">
                      Member Id : ${ud.eeid}
                    </p>

                     
                    <p class="no-result-message">
                      Group ID : ${ud.grp}
                    </p>

                     
                    <p class="no-result-message">
                      DateOfBirth : ${ud.dob}
                    </p>

                   
                    <p class="no-result-message">
                      ghmbrId : ${ud.mbrid}
                    </p>

                </div>
            </div>
        </div>
